# HTID:17741006: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17741006:

php_flag output_buffering true

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_DIRNAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]