body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 75px;
}

.upMenu {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
}

.navMenuEdit {
    position: relative;
    width: 20%;
    text-align: right;
    background-color: rgb(80, 80, 80);
}

.editMenuContent {
    position: relative;
    width: 80%;
    background-color: white;
    text-align: center;
}

.linkBackManager {
    height: 28.8px;
    color: black;
    text-decoration: none;
}

.linkBackManager i {
    vertical-align: -30%;
}

.titleEdition {
    margin: 0;
    padding: 0;
    height: min-content;
    margin-left: 20px;
}

.contentUpMenu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-25%);
    margin-left: 20px;
    left: 0;
}

.contentUpMenuAction {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    height: 50px;
    right: 0;
}

.contentUpMenuAction button {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.contentUpMenuAction button:hover {
    cursor: pointer;
}

.btnNavElem {
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    text-align: left;
    font-size: medium;
}

.btnNavElem:hover {
    background-color: rgba(94, 94, 94, 0.5);
}

.iconNavBar {
    float: right;
}

.textNavMenu {
    float: left;
    margin: 0;
    margin-right: 10px;
}

.elemClass {
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
    width: min-content;
}

.editBarElement {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #bababa;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.editBarElement h3 {
    position: absolute;
    left: 10px;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    text-transform: capitalize;
}

.contentTextValue {
    width: 80%;
    height: 300px;
    resize: vertical;
}

.btnEditBarElement {
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    position: relative;
}

.jsCssTextArea {
    width: 90%;
    height: 500px;
    resize: vertical;
}

.addElement {
    position: absolute;
    display: none;
    z-index: 2;
}

.formAddElement {
    display: none;
}

.errorElement {
    background-color: pink;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin-top: 25px;
    border: 2px solid red;
    border-radius: 10px;
}