body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.editDiv {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    background-color: rgb(236, 236, 236);
    margin-bottom: 20px;
}

.headerEdit {
    background-color: rgb(126, 126, 126);
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}

.footerEdit {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-wrap: wrap;
}

.contentEdit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 40px;
    resize: none;
}

.footerEdit input {
    width: 150px;
    height: 50px;
    margin: 10px;
    position: relative;
    top: 50%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.srcInputEdit {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}