body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(88, 88, 88);
}

.phpEdit {
    width: 100%;
    height: 500px;
}

.frontend {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 80%;
}

.backend {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.leftBackend {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.rightBackend {
    float: right;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.cssEdit {
    width: 100%;
    height: 250px;
}

.jsEdit {
    width: 100%;
    height: 250px;
}

.fakeButtonA {
    text-decoration: none;
    color: black;
}

.fakeButtonA:hover {
    cursor: default;
}

.fakeButtonA:hover .fakeButton {
    background-color: #d6d6d6;
}

.fakeButton {
    border: 1px solid gray;
    text-align: center;
    border-radius: 4px;
    background-color: #e9e9ed;
    margin: 10px;
    width: 10%;
}

textarea {
    border: 5px solid green;
    border-radius: 5px;
}