body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.optionsBar {
    background-color: rgb(36, 36, 36);
    height: 50px;
    width: 100%;
    display: block;
}

.optionsBarConnect {
    float: right;
    display: flex;
}

.connectIntels {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
    display: contents;
    color: white;
}

.btnAccount {
    display: flex;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 25px;
}

.btnAccount:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.315);
}

.logoutButton {
    background-color: transparent;
    border: none;
    color: red;
    font-size: xx-large;
    height: 45px;
    width: 45px;
}

.logoutButton:hover {
    cursor: pointer;
    color: rgb(145, 17, 17);
}

.content {
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.navMenu{
    width: 15%;
    /*background: rgb(2,0,36);
    background: -moz-linear-gradient(235deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 71%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(235deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 71%, rgba(255,0,0,1) 100%);
    background: linear-gradient(235deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 71%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ff0000",GradientType=1);  
    */
    background-color: rgb(80, 80, 80);
    text-align: center;
    display: block;
    color: white;
}

.contextMenu {
    width: 85%;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.closeMenuNav {
    display: none;
    text-align: center;
    color: white;
    position: relative;
    width: 97%;
    transform: translateX(3%);
}

.contextDev {
    display: none;
}

.btnNavMenu {
    width: 90%;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    text-transform: capitalize;
    text-align: left;
    font-size: medium;
}

.btnNavMenu:hover {
    background-color: rgba(94, 94, 94, 0.5);
}

.btnSelected {
    background-color: rgba(34, 34, 34, 0.7);
    width: 90%;
    height: 50px;
    color: white;
    border: none;
    text-align: left;
    font-size: medium;
}

.titleContextDev {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.deconnectForm {
    width: 100%;
    position: relative;
    bottom: 0;
}

.deconnectForm input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: large;
}

.deconnectForm input:hover {
    background-color: rgba(94, 94, 94, 0.5);
}

.formCreatePage {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid black;
    padding: 0;
    width: 400px;
    background-color: orange;
}

.formCreatePage input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.whiteDiv {
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pageDescription {
    width: 90%;
    border: 2px solid black;
    display: block ruby;
}

th {
    display: table-cell;
    background-color: gray;
}

.tablePages {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
}

.tableDeletedPages {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
}

.tableTables {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
}

.editPageUrl {
    color: black;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    font-family: "sans-serif";
    font-weight: lighter;
}

.editPageUrl:hover {
    cursor: default;
}

.editPageUrl:hover .dEditPageLink {
    background-color: #d1d1d1;
    cursor: pointer;
}

.dEditPageLink {
    background-color: #e9e9eD;
    border: gray;
    border-radius: 4px;
    width: 100%;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

.dEditPageLink i {
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -60%);
    color: black;
    font-weight: bold;
}

.restorePage {
    width: 40%;
    height: 25px;
}

.deleteFinalPage {
    width: 40%;
    height: 25px;
}

.argsTable {
    width: 90%;
    height: 25px;
}

.descriptionTable  {
    width: 98%;
}

.selectTypeArg {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 50px;
}

.checkCanBeNullTable {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.fakeButtonA {
    text-decoration: none;
    color: black;
}

.fakeButtonA:hover {
    cursor: default;
}

.fakeButtonA:hover .fakeButton {
    background-color: #d6d6d6;
}

.fakeButton {
    border: 1px solid gray;
    text-align: center;
    border-radius: 4px;
    background-color: #e9e9ed;
    width: 100%;
}

.deleteTable {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
    
.errorMsg {
    background-color: rgba(255, 0, 0, 0.514);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.tableDashBoard {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.tableDashBoard th {
    display: table-cell;
    background-color: gray;
    padding: 0;
}

#saveCurrUrl {
    display: none;
}

#currUrlEdit {
    display: none;
}

#currUrl {
    width: 75%;
}

.urlTd {
    width: 40%;
}

.modifUrlForm {
    display: block ruby;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modifUrlForm input[type="text"] {
    width: 75%;
}

.categorieExtension {
    border: 2px solid;
    border-radius: 7px;
    margin-bottom: 5px;
}

.categorieExtension p {
    margin-top: 1px;
    margin-bottom: 1px;
}

#catExt-Front {
    border-color: red !important;
    background-color: pink;
}

#catExt-Back {
    border-color: green !important;
    background-color: rgb(134, 219, 134);
}

#catExt-Database {
    border-color: rgb(25, 0, 255) !important;
    background-color: rgb(198, 192, 255);
}

.stopUsingExtension {
    border: none;
    background-color: transparent;
}

.stopUsingExtension:hover {
    cursor: pointer;
}

.NAccessDiv {
    width: 50%;
    position: relative !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-align: center;
}

.tableNAccess {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.iconDirectory {
    float: right;
}

.cantUseBtn:hover {
    cursor: not-allowed !important;
}

.nameFname_adminslist {
    width: 56%;
    text-align: left;
}

.lastLogin_adminList {
    width: 9%;
    text-align: left;
    font-size: 12px;
}

.icons_adminslist {
    width: 3%;
    text-align: center;
}

.btn-block {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-block button {
    margin: 0;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 10px;
}

.btn-block button:hover {
    cursor: pointer;
}