.mainPanel1-standarExtension {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

#tbl-standarExtension {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

#tbl-standarExtension td, #tbl-standarExtension th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl-standarExtension tr:nth-child(even){background-color: #f2f2f2;}

#tbl-standarExtension tr:hover {background-color: #ddd;}

#tbl-standarExtension th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ec9800;
    color: black;
}

.description-StandarExtension {
    margin-top: 55px;
    text-align: left;
}

.configContactMe-StandarExtension {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    border-radius: 10px;
}

.emailContactMe {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.validEmail-sendContactMe {
    margin-bottom: 15px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s;
}

.validEmail-sendContactMe:hover {
    background-color: #e1e1e1;
    cursor: pointer;
    border: 1px solid gray;
}